apdev-examples/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config3" doc:name="HTTP Listener config" doc:id="a3976485-4506-4959-b3db-b0043e5328cf" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config4" doc:name="HTTP Listener config" doc:id="4ab8ffb8-84b7-40e8-a3ff-3f8accd943ea" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="bfb7a310-0bb3-47fe-891c-8403f35fa41f" >
		<jms:active-mq-connection >
			<jms:factory-configuration />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="receiveJMSMessages" doc:id="e883b99a-a7c6-405e-bd92-ae529db50eed" >
		<jms:listener doc:name="JMS accountsQ" doc:id="b931dde0-afa3-46e8-8260-86231a752568" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="JSON to Accounts" doc:id="9ee963fb-82ae-4f7b-a65c-6bad810aa61d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
    Name: payload01.name,
    BillingStreet: payload01.street,
    BillingCity: (payload01.city default ""),
    BillingState: payload01.state,
    BillingPostalCode: payload01.postal,
    BillingCountry: payload01.country
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="syncWithSalesforce" doc:id="ce460aa5-07f4-42bc-9537-e30c0ab3407e" >
			<batch:process-records >
				<batch:step name="isAccountInSalesforce" doc:id="9ce19159-d215-4cf8-9572-19601f206f8c" >
					<salesforce:query doc:name="Account" doc:id="54cf2472-926a-47ac-9b65-7d1ed8d3a302" config-ref="Salesforce_Config" target="exists" targetValue="#[sizeOf(payload as Array)&gt;0]">
						<salesforce:salesforce-query ><![CDATA[SELECT Name FROM Account
WHERE Name= ':cname']]></salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cname" : payload.Name default "" as String
}]]]></salesforce:parameters>
					</salesforce:query>
					<logger level="INFO" doc:name="Logger" doc:id="6360973f-ff76-470c-938b-c2c4c51237c0" />
				</batch:step>
				<batch:step name="writeToSalesforce" doc:id="b097ff2c-4e9c-4d44-a4db-519a4013123d" acceptExpression="#[not vars.exists]">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="ebb30d1b-262b-4115-9055-217a05437a4b" size="3">
						<salesforce:create type="Account" doc:name="Accounts" doc:id="a4db4b10-4a9f-4644-a266-09abbce5d9e2" config-ref="Salesforce_Config" />
						<logger level="INFO" doc:name="Logger" doc:id="c33389bc-a9e1-48da-9614-12a0b6971f3f" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="fe315630-917e-45f7-9d22-5fac7aa1f2da" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="syncDBaccountsWithPostal" doc:id="4d6e2bd3-3b05-4584-9804-b61f4fea6f4a" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="9fe84661-2f61-40fd-ad4b-24b7381bfbd4" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastAccountID" doc:id="fb0ba207-c95f-436e-a86c-c875de256c4a" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="account" doc:id="2a40256c-8c6f-4da3-a6b0-23ec0a0fcfb7" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM accounts 
WHERE postal = :postal AND accountID > :lastAccountID ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{postal: '3322' ,lastAccountID: vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="fb1c9ab1-3a02-48ae-afd7-047626235bbc">
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="lastAccountID" doc:id="cbee5946-1fbd-4f40-84e2-71575620ea36" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccountsPostal.csv" doc:id="1545d69f-002c-4ab5-9aeb-34a19e095990" config-ref="File_Config" path="output/DBaccountsPostal.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false---payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS accountsQ" doc:id="e079ce08-e4bb-48ef-9c2e-20f499146c4f" config-ref="JMS_Config" destination="accountsQ" sendCorrelationId="ALWAYS">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json --- payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{"publisher":"training"}]]]></jms:properties>
					</jms:message>
				</jms:publish>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new records" doc:id="da5c625e-2dbc-4725-8648-7ceb5d8e4dce" message="No new records"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="7c7bcc7b-a8f0-450c-b1a7-4ed5d8295940" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="da70071a-74b3-4be3-aef3-6f1742000221" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="JAVA to CSV" doc:id="963d8d75-573c-49f7-9c7c-82a979dc9b61" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="beccd5b7-a0d3-48a2-8536-a7f0b29a5c1b" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="dae842df-35aa-4d8e-a1b1-306210052e58" />
	</flow>
	<flow name="batchProcessCSVaccounts" doc:id="f9861354-4348-49aa-8e2e-cca81b34a970" >
		<file:listener doc:name="accounts.csv" doc:id="0097a34a-d375-4578-b4b1-8c6674483b41" config-ref="File_Config" directory="C:\Users\Devoteam\Desktop\mulesoft training\CDEV-DEX401-EN-22Mar2024-Student-Files_SP\resources\input" moveToDirectory="C:\Users\Devoteam\Desktop\mulesoft training\CDEV-DEX401-EN-22Mar2024-Student-Files_SP\resources\output" timeBetweenSizeCheckUnit="MILLISECONDS">
			<scheduling-strategy>
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="e6953b0f-d03e-4e4c-878d-e6e174f217c5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="size" doc:id="45803980-afa3-45db-8e97-94c56b70de54" variableName="size"/>
		<batch:job jobName="accountsBatch_Job" doc:id="fb4bc4b6-81a4-419b-84a9-3ee676da6e26" >
			<batch:process-records >
				<batch:step name="cname" doc:id="814733e8-932d-4661-8961-818172a0cf34" >
					<set-variable value="#[payload.Name]" doc:name="cname" doc:id="b22948c0-57b8-4595-b40d-05dc85f31e9b" variableName="cname"/>
					<logger level="INFO" doc:name="Logger" doc:id="c0cbddd5-57c4-40b3-875d-3a189765fe13" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="66e2a644-80cf-4552-9d2c-b646a8ef38b1" >
					<logger level="INFO" doc:name="Logger" doc:id="ce1061fd-f975-4bd6-89f7-25b0410ae5a3" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="544435c8-f346-4dba-95b8-65cec171f36b" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="getCSVaccounts" doc:id="16ff87b9-9a6e-4456-933d-df8bebaa580f" initialState="stopped">
		<file:listener doc:name="accounts.csv" doc:id="95a28868-d327-4377-b49e-98bff2d84733" config-ref="File_Config" directory="C:\Users\Devoteam\Desktop\mulesoft training\CDEV-DEX401-EN-22Mar2024-Student-Files_SP\resources\input" timeBetweenSizeCheckUnit="MILLISECONDS" moveToDirectory="C:\Users\Devoteam\Desktop\mulesoft training\CDEV-DEX401-EN-22Mar2024-Student-Files_SP\resources\output" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV yo Java" doc:id="0d19db05-eb8b-4869-927c-48af8d2d31dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="95889c04-2d42-4f7c-b191-3900a8c0d8bc" >
			<set-payload value="processed" doc:name="processed" doc:id="d1dee440-fb91-4523-9238-44676fc816fd" />
			<logger level="INFO" doc:name="payload" doc:id="3812cc7c-568b-47e5-9057-3a2c14347bce" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="payload" doc:id="c5f75abc-274e-46ea-868c-88917f0e0e13" message="#[payload]"/>
	</flow>
	<flow name="getSFDCaccounts" doc:id="c36dec0d-b6db-438a-8cf7-c7954cbc817b" >
		<http:listener doc:name="GET /sfdc" doc:id="c142ba65-dd5c-4f62-abf5-258b5b9bc5e4" config-ref="HTTP_Listener_config4" path="/sfdc" allowedMethods="GET"/>
		<salesforce:query doc:name="Account" doc:id="085cd4ae-177e-4816-9de8-5a8ae39160e6" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account
]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="f2f5ddd7-9e20-4a68-a212-cd3af089a991" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>